@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.contactItem {
    padding: 20px;
}
input {
    padding: 10px;
    margin: 10px;
}
a {
    text-decoration: none;
    color: orange;
}